@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
--black: #000000;
--oxford-blue: #14213d;
--orange-web: #fca311;
--platinum: #e5e5e5;
--white: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Bungee;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 5px solid var(--black);
    border-radius: 8px;
    padding: 3px;
    background-color:var(--platinum);
}

.button-container {
    display: flex;
    padding: 2px;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    
}

.clear {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

button {
    width: 48px;
    font-size: 24px;
    font-family: Bungee;
    background-color: var(--oxford-blue);
    color: var(--platinum);
    border-radius: 8px;
    margin: 2px; 
}

.operator,
#clear-btn,
.decimal-point,
.equal-btn {
    color: var(--orange-web);
}

.logo {
    text-align: left;
    margin: auto;
    border: 2px solid var(--black);
    padding: 5px;
    border-radius: 8px;
}

.box {
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--orange-web);
    width: 100%;
    text-align: right;
    border: 3px solid var(--platinum);
    border-radius: 8px;
    padding: 0px 16px 0px 8px;
}

.line {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    
}