:root {
--black: #000000;
--oxford-blue: #14213d;
--orange-web: #fca311;
--platinum: #e5e5e5;
--white: #ffffff;
}

body {
    display: flex;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 5px solid var(--black);
    border-radius: 8px;
    padding: 3px;
    background-color:var(--platinum);
}

.button-container {
    display: flex;
    padding: 2px;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    
}

.clear {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

button {
    width: 48px;
    font-size: 24px;
    background-color: var(--oxford-blue);
    color: var(--platinum);
    border-radius: 8px;
    margin: 2px;
    
}

.logo {
    text-align: left;
    font-family:sans-serif;
    margin-right: 2px;
    border: 2px solid var(--orange-web);
    border-radius: 8px;
}

.box {
    box-sizing: border-box;
    background-color: var(--black);
    font-size: 22;
    color: var(--orange-web);
    height: 48px;
    width: 100%;
    margin: auto;
    border: 3px solid var(--platinum);
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
    text-align: right;
    line-height: 48px; 
    vertical-align: middle;
}